[submodule "grbl"]
	path = grbl
	url = https://github.com/grblHAL/core
[submodule "eeprom"]
	path = eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "sdcard"]
	path = sdcard
	url = https://github.com/grblHAL/Plugin_SD_card
[submodule "keypad"]
	path = keypad
	url = https://github.com/grblHAL/Plugin_I2C_keypad
[submodule "bluetooth"]
	path = bluetooth
	url = https://github.com/grblHAL/Plugins_Bluetooth
[submodule "motors"]
	path = motors
	url = https://github.com/grblHAL/Plugins_motor
[submodule "trinamic"]
	path = trinamic
	url = https://github.com/terjeio/Trinamic-library
[submodule "spindle"]
	path = spindle
	url = https://github.com/grblHAL/Plugins_spindle
[submodule "networking"]
	path = networking
	url = https://github.com/grblHAL/Plugin_networking
[submodule "webui"]
	path = webui
	url = https://github.com/grblHAL/Plugin_WebUI
[submodule "embroidery"]
	path = embroidery
	url = https://github.com/grblHAL/Plugin_embroidery
[submodule "fans"]
	path = fans
	url = https://github.com/grblHAL/Plugin_fans/
